$primary-background-color: #008cba;
$primary-color: white;

$secondary-background-color: #4caf50;
$secondary-color: white;

$warning-background-color: #d27979;
$warning-color: white;

$disabled-background-color: #efefef;
$disabled-color: #aaaaaa;

$normal-border: 23%;
$normal-text-shadow: 20%;

$hover-background: 5%;
$hover-text-shadow: 25%;

$active-background: 10%;
