<div class="app-sudoku-board">
  <div class="row" *ngFor="let row of game.progressBoard; let i = index">
    <div class="cell" *ngFor="let cell of row; let j = index">
      <div class="cell-row" *ngFor="let cellRow of cell; let x = index">
        <div
          *ngFor="let cellRowCell of cellRow; let y = index"
          class="cell-row-cell"
          [ngClass]="[
            _isSelectedCell(i, j, x, y) ? 'selected' : ''
          ]"
          (click)="_selectCell(i, j, x, y)"
        >
          <div
            [ngClass]="[
              _anyCellGuess(i, j, x, y) ? 'guessed' : 'known',
              game.progressBoard[i][j][x][y] && game.progressBoard[i][j][x][y] === game.selectedValue ? 'hilighted' : ''
            ]"
            attr.data-title="{{cellRowCell || game.progressBoard[i][j][x][y]}}"
          >
            {{cellRowCell || game.progressBoard[i][j][x][y]}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
